<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.zxl.mapper.UserMapper" >
    <resultMap id="BaseResultMap" type="com.zxl.entity.UserInfo" >
        <id column="uid" property="uid" jdbcType="BIGINT" />
        <result column="name" property="name" jdbcType="VARCHAR" />
        <result column="password" property="password" jdbcType="VARCHAR" />
        <result column="salt" property="salt" jdbcType="VARCHAR" />
        <result column="state" property="state" jdbcType="BIGINT"/>
        <result column="username" property="username" jdbcType="VARCHAR" />
    </resultMap>
    
    <sql id="Base_Column_List" >
        uid, name, password, salt, state, username
    </sql>

    <select id="getAll" resultMap="BaseResultMap"  >
       SELECT 
       <include refid="Base_Column_List" />
	   FROM user_info
    </select>

    <select id="getOne" parameterType="java.lang.Long" resultMap="BaseResultMap" >
        SELECT 
       <include refid="Base_Column_List" />
	   FROM user_info
	   WHERE uid = #{uid}
    </select>

    <insert id="insert" parameterType="com.zxl.entity.UserInfo" >
       INSERT INTO 
       		user_info
       		(username,password,state) 
       	VALUES
       		(#{username}, #{password}, #{state})
    </insert>
    
    <update id="update" parameterType="com.zxl.entity.UserInfo" >
       UPDATE 
       		user_info 
       SET 
       	<if test="username != null">username = #{username},</if>
       	<if test="password != null">password = #{password},</if>
       	state = #{state}
       WHERE 
       		uid = #{uid}
    </update>
    
    <delete id="delete" parameterType="java.lang.Long" >
       DELETE FROM
       		 user_info 
       WHERE 
       		 uid =#{uid}
    </delete>

</mapper>